In [26]:
import pandas as pd

def merge_dates(path_of_df_prediction, merge_on='GAME ID'):

    # Load game dates (to merge with game ids for time series)
    df_game_dates = pd.read_csv('Data/all_game_dates.csv', index_col=0).drop_duplicates().reset_index(drop=True)
    df_game_dates['DATE'] = pd.to_datetime(df_game_dates['DATE'])

    # Load data onto which dates will be merged
    df_to_predict = pd.read_csv(path_of_df_prediction, index_col=0)
    df_to_predict = df_to_predict.merge(df_game_dates, on=merge_on).drop_duplicates().reset_index(drop=True)
    
    # Save with dates
    df_to_predict.to_csv(path_of_df_prediction)

path_of_df_prediction = 'Data\Predictions\Shots\pct_2.csv'
merge_dates(path_of_df_prediction)

In [30]:
df = pd.read_csv('Data\Predictions\Shots\pct_2.csv', index_col=0)
df.head(10)

  SEASON ID   GAME ID    SEASON STAGE  PERCENTAGE        DATE
0   2000-01  20000001  Regular Season   48.717949  2000-10-31
1   2000-01  20000002  Regular Season   39.726027  2000-10-31
2   2000-01  20000003  Regular Season   44.531250  2000-10-31
3   2000-01  20000004  Regular Season   45.378151  2000-10-31
4   2000-01  20000005  Regular Season   45.222930  2000-10-31
5   2000-01  20000006  Regular Season   46.218487  2000-10-31
6   2000-01  20000007  Regular Season   41.732283  2000-10-31
7   2000-01  20000008  Regular Season   48.591549  2000-10-31
8   2000-01  20000009  Regular Season   51.260504  2000-10-31
9   2000-01  20000010  Regular Season   51.908397  2000-10-31

In [31]:
pct_3 = pd.read_csv('Data\Predictions\Shots\pct_3.csv', index_col=0)['PERCENTAGE']
df['PCT 3'] = pct_3
df.rename(columns={'PERCENTAGE': 'PCT 2'}, inplace=True)
df.head()

  SEASON ID   GAME ID    SEASON STAGE      PCT 2        DATE      PCT 3
0   2000-01  20000001  Regular Season  48.717949  2000-10-31  31.578947
1   2000-01  20000002  Regular Season  39.726027  2000-10-31  29.411765
2   2000-01  20000003  Regular Season  44.531250  2000-10-31  43.478261
3   2000-01  20000004  Regular Season  45.378151  2000-10-31  45.833333
4   2000-01  20000005  Regular Season  45.222930  2000-10-31  27.586207

In [36]:
df.columns = list(df.columns[:-2]) + ['PCT 3', 'DATE']
date = df['PCT 3'].copy()
df['PCT 3'] = pct_3
df['DATE'] = date
df.head()

  SEASON ID   GAME ID    SEASON STAGE      PCT 2      PCT 3        DATE
0   2000-01  20000001  Regular Season  48.717949  31.578947  2000-10-31
1   2000-01  20000002  Regular Season  39.726027  29.411765  2000-10-31
2   2000-01  20000003  Regular Season  44.531250  43.478261  2000-10-31
3   2000-01  20000004  Regular Season  45.378151  45.833333  2000-10-31
4   2000-01  20000005  Regular Season  45.222930  27.586207  2000-10-31

In [37]:
df.to_csv('Data\Predictions\Shots\percentages.csv')

In [28]:
df_pct = df.copy()
makes = df_pct[df_pct['SHOT MADE FLAG']].reset_index(drop=True)['COUNT']
misses = df_pct[~df_pct['SHOT MADE FLAG']].reset_index(drop=True)['COUNT']
pct_2 = 100* (makes) / (makes+misses)
df_pct.drop_duplicates(subset='GAME ID', inplace=True)
df_pct.reset_index(drop=True, inplace=True)
df_pct.drop(columns=['SHOT MADE FLAG'], inplace=True)
df_pct['COUNT'] = pct_2
df_pct.rename(columns={'COUNT': 'PERCENTAGE'}, inplace=True)
df_pct.head()

  SEASON ID   GAME ID    SEASON STAGE  PERCENTAGE        DATE
0   2000-01  20000001  Regular Season   48.717949  2000-10-31
1   2000-01  20000002  Regular Season   39.726027  2000-10-31
2   2000-01  20000003  Regular Season   44.531250  2000-10-31
3   2000-01  20000004  Regular Season   45.378151  2000-10-31
4   2000-01  20000005  Regular Season   45.222930  2000-10-31

In [29]:
df_pct.to_csv('Data\Predictions\Shots\pct_2.csv')